.flex {
  display:flex;
  flex-wrap:wrap;
}

 .prompt {
  width:95%;
  display: flex;
  font-size: 24;
  justify-content: center;
  margin-top: 2mm;
  color: dimgray;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  font-size: 18;
  font-family: monospace;
  justify-content: center;
  margin-top: 2mm;
  width: 100%;
  flex-wrap: wrap;
  color: black;
  align-items: center;
  justify-content: center;
}



.answer {
  color: lightgreen;
  display: flex;
  font-size: 15;
  justify-content: center;
  margin: .5cm 0 0 0;
  width:100%;
}


.equationTerm {
  display: flex;
  letter-spacing: 0;
  margin: 2 5 2 5;
  justify-content: center;
}

.keyword {
	font-weight:bold;
	padding:0em 0em 0em 1em;
	text-decoration:underline;
}

/* ************************************** */


body {
  /* background:black; */
  background:yellow;
}

*:focus {
    outline: none;
}

.result {
  height:50px;
  width:75%;
  font-size:24;
  font-weight:bold;
  line-height:1;
  padding:3mm;
  border-radius:5px;
  margin-top:10;
  float:left;
  display:block;
  line-height:3;
}

.output, .outputFixed {
  width:90%;
  font-size:18;
  line-height:1;
  padding:3mm;
  border-radius:5px;
  font-family: "Courier New";
  margin-top:15;
  display:flex;
  justify-content: center;
  align-items: center;
}

.outputFixed {
  height:75%;
}

.userText {
  color:lightgreen;
  font-family:monospace;
}
.systemText {
  color:white;
}

.choices, .guesses {
  color:#e0f4ff;
  font-family:monospace;
  padding-left:20mm;
}

.multipleChoice {
  display:flex;
  justify-content:space-evenly;
  width:75%;
}


.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.flex {
  display: flex;
}

.fraction {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  font-size:35;
}

.numerator {
  padding: 0 5px;
}

.denominator {
  border-top: 1px solid black;
  display: block;
}

.menubar {
  width:100%;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background:yellow;
  border: solid darkgray 4px;
  border-radius: 5px;
  position:fixed;
  /* margin:0mm 3mm; */
  padding:3mm;
  top:0;
}



/* ---------------------------- */
html {
  scroll-behavior: smooth;
}

.progression {
    color:black;
    font-family:arial;
    font-size:30;
    font-weight:bold;
    display:flex;
    flex-wrap:wrap;
    width:98%;
    background:white;
    border: solid black 3px;
    border-radius:5px;
    padding:3mm;
    margin:6mm 6mm;
}

.concept {
    color:gray;
    font-size:24;
    display:flex;
    flex-wrap:wrap;
    width:98%;
    padding:3mm;
}


.results {
  color:blue;
  background: lightgray;
  width:75%;
  font-size:18;
  line-height:1;
  padding:3mm;
  border-radius:5px;
  margin-top:30;
  margin-left:12.5%;
  display:flex;
  flex-wrap:wrap;
  justify-content: left;
  align-items: center;
}


.input {
  width:75%;
  float:left;
  display:block;
  height:1.5em;
  font-size:18;
  resize:none;
  padding:3mm;
  border-radius:5px;
  font-family: monospace;
  background:whitesmoke;
  color:darkgreen;
  margin-top:10px;
  border: solid 3px gray;
}


.scroll {
  width:75%;
  float:left;
  display:block;
  height:1px;
}

.caret {
  float:left;
  display:block;
  color:darkgreen;
  width:1em;
  height:2em;
}
.inputField {
  margin-left:1em;
  height:2em;
}
.questionContainer {
  display:flex;
  flex-wrap:wrap;
  width:85%;
  justify-content:center;
  margin:.3cm;
  padding:.5cm;
  padding-top:1mm;
  background:white;
  border-radius: 10px;
  border: solid black 3px;
}



.questionContainerPart {
  display:flex;
  flex-wrap:wrap;
  width:85%;
  justify-content:center;
  margin:.1cm;
  padding:.1cm;
  padding-top:1mm;
  background:white;
}

.wrapper {
  display:flex;
  flex-wrap:wrap;
  width:90%;
  justify-content:center;
}


.content {
 display: flex;
 font-size: 25;
 /* font-family: monospace; */
 justify-content: center;
 margin-top: 2mm;
 width: 100%;
 flex-wrap: wrap;
 /* color: white; */
 align-items: center;
 justify-content: center;
}


.container {
 border: solid 2px black;
 border-radius:5px;
 padding: 2mm 1mm;
 margin: 3mm 1mm;
 background: white;
 width:96%;
 display:flex;
 flex-wrap:wrap;
}

.questionWrapper {
 /* padding: 2mm 1mm; */
 /* margin: 3mm 1mm; */
 background: white;
 width:100%;
 display:flex;
 flex-wrap:wrap;
}

.choice {
  color:blue;
  font-family:sans-serif;
  font-size:22;
  display:flex;
  justify-content:center;
  margin:2mm;
}


.box2, .box3, .box4, .box6, .box12 {
  border: solid black 1px;
}

.box12 {
  width: 23%;
  height: 31%;
}

.box6 {
  width: 48%;
  height: 31%;
}

.box4 {
  width: 23%;
  height: 100%;
}

.box3 {
  width: 100%;
  height: 31%;
}

.box2 {
  width: 48%;
  height: 100%;
}

.box1 {
  width: 100%;
  height: 100%;
}

.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.flex {
  display: flex;
}

.fraction {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  font-size:35;
}

.numerator {
  padding: 0 5px;
}

.denominator {
  border-top: 1px solid black;
  display: block;
}

.selectBox {
  margin:1mm .2cm;
}

.categoryheader {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  /* font-size:30; */
  font-weight:bold;
  margin:2mm 1mm;
  width:100%;
}

.choiceRow {
  /* justify-content: space-evenly; */
  justify-content: center;
}

.choiceColumn {
  display:grid;
}

.flexWide {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.subheader {
  width:100%;
  margin:.5mm 3mm;
}

.makingBar {
  margin-bottom:.1cm;
  width:100%;
  display:flex;
  justify-content:left;
  font-size:16;
}

.questionCheckbox {

}

.questionCounter {
  display:flex;
  justify-content:center;
  font-weight:bold;
  font-size:20;
}

.imageMathOperator  {
  width: 5%;
  font-size: 50;
  display:flex;
  justify-content: center;
}

.answerBox {
  border: solid black 1px;
  padding:5px;
}

.subtext, .sidetext {
  font-size:14;
  display:flex;
  margin-left:3%;
  font-weight:normal;
  width:100%;
}
.sidetext {
  font-size:16;
}

.highlight {
  background-color:lightgray;
  margin-left:.25em;
  margin-right:.25em;
  padding: .05em .1em;
}
